@page
@model crud1.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
   <marquee>  <h1 class="display-4 text-warning m-5"><b> Welcome To Crud Operation</b> </h1> </marquee>
</div>
